.card {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.card h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="text"],
select, #product_image {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="textarea"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 6px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.save-btn {
    text-align: center;
}

button {
    /* padding-left: 50px; */
    height: 40px;
}

.image-preview-item {
    display: inline-block;
    position: relative;
    margin: 5px;
    /* width: 50px; */
}

.it {
    height: 100px;
    margin-left: 10px;
}

.btn-rmv1 {
    display: none;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background: rgb(255, 0, 0);
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
}

.delete-button:hover {
    background: rgba(255, 0, 0, 0.5);
}